<h2 mat-dialog-title>Afegir Event</h2>
<mat-dialog-content>
  <form (ngSubmit)="addEvent()">
    <mat-form-field appearance="fill">
      <mat-label>Títol</mat-label>
      <input matInput [(ngModel)]="newEventTitle" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput type="date" [(ngModel)]="newEventDate" name="date" required />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel·lar</button>
  <button mat-button (click)="addEvent()" color="primary">Afegir</button>
</mat-dialog-actions>
